.container{
    height: 470px;
    background: url('../../assets/poster.jpg') no-repeat center;
    background-size: cover;
}

.content {
    color: white;
    width: 350px;
    padding: 100px 150px;
  }

.btn{
    border: none;
    padding: 7px 17px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color:#b81d33;
    color: #fff;
}

p{
    font-size: 18px;
}

h1{
    font-size: 32px;
}