.productImg{
    width: 150px;
    height: 170px;
    margin: 0 auto;
    display: block;
}

.cardContainer{
    max-width: 250px;
    height: 350px;
    transition: box-shadow 0.3s ease;
    padding: 10px;
}

.cardContainer:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
    border-radius: 3px;
}

.cardContainer > p{
    height: 40px;
}

.brand{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
    .cardContainer {
      max-width: 200px;
      height: auto;
    }
    .productImg{
        width: 100px;
        height: 120px;
    }
    .cardContainer > p{
        height: 50px;
    }
    .brand{
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 5px;
    }
  }
  
  @media only screen and (max-width: 750px) {
    .cardContainer {
        max-width: 160px;
    }

    .productImg{
        width: 100px;
        height: 120px;
    }
  }

  @media only screen and (max-width: 750px) {
    .cardContainer {
        max-width: 200px;
    }

    .productImg{
        width: 120px;
        height: 140px;
    }
  }