.productImg{
    width: 150px;
    height: 170px;
    margin: 0 auto;
    display: block;
}

.cardContainer{
    max-width: 250px;
    height: 350px;
    transition: box-shadow 0.3s ease;
    padding: 10px;
}

.cardContainer:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
    border-radius: 3px;
  }

p{
    height: 40px;
}