.dropDown::-webkit-scrollbar {
    width: 6px;
}

.dropDown::-webkit-scrollbar-thumb{
    background: #c9c8c8;
    border-radius: 1px;
}

.formContainer {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    position: relative;
}

.searchBar {
    border: none;
    border-bottom: 1px solid black;
    width: 110px;
    padding: 6px 25px;
}

.searchBar:focus {
    outline: none;
}

.searchIcon {
    position: relative;
    left: 15px;
    width: 25px;
}

.searchBar::placeholder {
    color: #999;
    font-size: 16px;
}

.dropDown {
    position: absolute;
    padding: 25px 40px;
    z-index: 1;
    background-color: white;
    width: 60%;
    right: 5%;
    margin-top: 15px;
    border: 1px solid #CCC;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 400px;
    overflow: auto;
}

.productsTitle{
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid #bcc1c7;
    padding: 13px 0;
}

.productContainer{
    display: flex;
    border-bottom: 1px solid #bcc1c7;
    padding: 13px 0;
    align-items: center;
    gap: 20px;
}

.descriptionProduct{
    display: flex;
    flex-direction: column;
}

.productImg{
    width: 75px;
    max-height: 90px;
}

.brand{
    text-transform: capitalize;
    font-weight: bold;
}

.loader {
    width: 23px;
    height: 23px;
    border: 3px solid #FFF;
    border-bottom-color: #b81d33;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    right: 10px; 
}



@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1024px) {
    .searchBar{
        width: 70px;
    }

    .searchIcon{
        width: 20px;
    }
    .searchBar::placeholder{
        font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .searchBar{
        width: 100%;
        border: 1px solid #8a8a8a;
        border-radius: 4px;
        padding: 6px 27px;
    }

    .searchIcon {
        left: 25px;
    }

    .productsTitle{
        font-size: 20px;
    }

    .dropDown{
        padding: 10px 20px;
        width: 84%;
        right: 2.5%;
    }

  }