.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loader {
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #b81d33;
    width: 100px;
    height: 100px;
    animation: spinner 2s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media only screen and (max-width: 1024px) {
    .loader{
      width: 70px;
      height: 70px;
    }
  }